{{!-- <html>
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head> 
<body>   
<h1>Criar produto</h1>
<form action="/create" method="POST">
    <div class="form-control">
        <label for="name">Nome do produto:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="price">Preço do produto:</label>
        <input type="text" name="price" placeholder="Digite o preço">
    </div>
    <div class="form-control">
        <label for="description">Descrição do produto:</label>
        <textarea name="description" placeholder="Descrição do produto"></textarea>
    </div>
    <div class="form-control">
        <label for="image">Imagem:</label>
        <input type="text" name="image" placeholder="Insira a URL da imagem" />
    </div>
    <input type="submit" class="btn" value="Enviar">
</form>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

===================================================================================================================== --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

 <form class="row g-3" action="/create" method="post">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Name:</label>
    <input type="text" class="form-control" name="name" value="" >
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom02" class="form-label">Price:</label>
    <input type="text" class="form-control" name="price" value="" placeholder="R$" >
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustomUsername" class="form-label">Description:</label>
    <div class="input-group has-validation">
      <textarea class="form-control" type="text" class="form-control" name="description" placeholder="Digite a Descrição"></textarea>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Image:</label>
    <input type="text" class="form-control" name="image" placeholder="Insira a URL da Imagem" >
  </div>
  
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    
</body>
</html>